<!DOCTYPE html>
<html>
<head>
    <title>JSON TO CSV</title>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .prompt {
            font-size: 16px;
            color: brown;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .container {
            width: 100%;
        }
        .left-pane {
            width: 100%;
            float: left;
        }
        .right-pane {
            width: 100%;
            float: right;
        }
        .submit-name {
            clear: both;
        }
        .table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

        .td {
                border: 1px black solid;
                padding: 5px;
        }
    </style>
</head>
  <body>

    <h1>Hey Put a Json String</h1>

<form method='post' action="/" onsubmit="return downloadCSV({ filename: "stock-data.csv" });'">
    <div class="container">
        <div class="prompt left-pane">
            <span>Give Json</span>
        </div>
        <div class="right-pane">
            <input type="text" style="height:200px;width:200px;" id="Json" name="Json" />
        </div>
    </div>
    <div class="submit-name">
        <input type="submit" value="Get CSV" />
        <a href='#' onclick='downloadCSV({ filename: "stock-data.csv" });'>Download CSV</a>

    </div>


    </div>
</form>

<div class="title">
    <textarea rows="4" cols="50">
    <%=title %>
   </textarea>
</div>

<h1>Upload File Here</h1>

<form class="fileupload" action="upload" method="post" enctype="multipart/form-data">
  <input type="file" name="upfile" value="">
  <input type="submit" value="Upload file" />
</form>



  </body>
</html>
