<!DOCTYPE html>
<html>
<head>
    <title>JSON TO CSV</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
  input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 10%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        size:   10px;

    }




    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

    }
    body {
      background-color: #f2f2f2;


    }

    </style>
</head>
  <body>


<form method='post' action="/" >


        <div class="right-pane">
            <h1>Give a Json String</h1>

            <input type="text" style="height:500px;width:500px;" id="Json" name="Json" />

        </div>
        <div class="left-pane">
            <h1>You output shows here</h1>

            <textarea id="CSV" style="height:500px;width:500px;"><%=title%></textarea>
        </div>

    </div>
    <div class="submit-name">
        <input type="submit" value="Get CSV" />

    </div>



</form>



<h1>Upload File Here</h1>

<form class="fileupload" action="download" method="post" enctype="multipart/form-data">
  <input type="file" name="upfile" value="" >
  <input type="submit" value="Upload file"  />
  <input type="submit" id="download" onClick="window.open('/download');">
       <span class="icon">Download file</span>
  </input>
</form>

<h1><%=warn %></h1>






  </body>
</html>
