<!DOCTYPE html>
<html>
<head>
    <title>JSON TO CSV</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    h1 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }
  input[type=text], select {

padding:  0.4em;
padding-bottom:470px;
width: 500px;
height: 500px;

    }

    input[type=submit] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;


    }




    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

    }
    body {
      background-color: #f2f2f2;


    }

    </style>
</head>
  <body>


<form method='post' action="/" >


        <div class="w3-third">
            <h1>Give a Json String</h1>

            <input type="text"  id="Json" name="Json" />

            <div class="submit-name">
                <input type="submit" value="Get CSV" />

            </div>

        </div>

        <div class="w3-third">
            <h1>You output shows here</h1>

            <textarea id="CSV" style="height:500px;width:500px;"><%=title%></textarea>
        </div>

    </div>



    <div class="w3-third">

</form>



<h1>Data too big ? upload a file here</h1>

<form class="fileupload" action="download" method="post" enctype="multipart/form-data">
  <input type="file" name="upfile" value="" style="
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #45a049;
  " </input>
  <input type="submit" name="upload" value="Upload file"  />
  <input type="submit" value="Download " id="download" name="download" onClick="window.open('/download');">
  </input>
</form>

<h1><%=warn %></h1>
</div>







  </body>
</html>
